.App {
  text-align: center;
}


.activeValue {
  color: #003399;
  font-family: arial,sans-serif;
  font-size: 280px;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 80px;
}

.inactiveValue {
  color: #cccccc;
  font-family: arial,sans-serif;
  font-size: 280px;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 80px;
}

.doneValue {
  color: #993333;
  background-color: #ff9595;
  font-family: arial,sans-serif;
  font-size: 280px;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 80px;
}

.activeHeader {
  background-color: #003399;
  color: white;
  font-family: arial,sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.inactiveHeader {
  background-color: #cccccc;
  color: white;
  font-family: arial,sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.doneHeader {
  background-color: #993333;
  color: white;
  font-family: arial,sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.stateCell {
  background-color: #eeeeee;
  color: white;
  font-family: arial,sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.disabled.button {
  opacity: 0.6;
  cursor: not-allowed;
}
.end.button,
.reset.button {
  background-color: #993333;
}
.end.button:hover,
.reset.button:hover {
  background-color: #ce4545;
}

.button:hover {
  background-color: #0045ce;
}

.switch.button {
  width: 25%;
}

.button {
  width: 15%;
  background-color: #003399;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}